/* CSS HEX */
--indigo-dye: #065272ff;
--jade: #1BA373ff;
--seasalt: #F8F8F8ff;
--timberwolf: #D7D7D7ff;
--battleship-gray: #898C8Fff;
--gamboge: #F49712ff;
--jasmine: #FDDE7Bff;
--royal-blue-traditional: #102C68ff;
--pigment-green: #0E9A47ff;
--celestial-blue: #4B96D1ff;

/* CSS HSL */
--indigo-dye: hsla(198, 90%, 24%, 1);
--jade: hsla(159, 72%, 37%, 1);
--seasalt: hsla(0, 0%, 97%, 1);
--timberwolf: hsla(0, 0%, 84%, 1);
--battleship-gray: hsla(210, 3%, 55%, 1);
--gamboge: hsla(35, 91%, 51%, 1);
--jasmine: hsla(46, 97%, 74%, 1);
--royal-blue-traditional: hsla(221, 73%, 24%, 1);
--pigment-green: hsla(144, 83%, 33%, 1);
--celestial-blue: hsla(206, 59%, 56%, 1);

/* SCSS HEX */
$indigo-dye: #065272ff;
$jade: #1BA373ff;
$seasalt: #F8F8F8ff;
$timberwolf: #D7D7D7ff;
$battleship-gray: #898C8Fff;
$gamboge: #F49712ff;
$jasmine: #FDDE7Bff;
$royal-blue-traditional: #102C68ff;
$pigment-green: #0E9A47ff;
$celestial-blue: #4B96D1ff;

/* SCSS HSL */
$indigo-dye: hsla(198, 90%, 24%, 1);
$jade: hsla(159, 72%, 37%, 1);
$seasalt: hsla(0, 0%, 97%, 1);
$timberwolf: hsla(0, 0%, 84%, 1);
$battleship-gray: hsla(210, 3%, 55%, 1);
$gamboge: hsla(35, 91%, 51%, 1);
$jasmine: hsla(46, 97%, 74%, 1);
$royal-blue-traditional: hsla(221, 73%, 24%, 1);
$pigment-green: hsla(144, 83%, 33%, 1);
$celestial-blue: hsla(206, 59%, 56%, 1);

/* SCSS RGB */
$indigo-dye: rgba(6, 82, 114, 1);
$jade: rgba(27, 163, 115, 1);
$seasalt: rgba(248, 248, 248, 1);
$timberwolf: rgba(215, 215, 215, 1);
$battleship-gray: rgba(137, 140, 143, 1);
$gamboge: rgba(244, 151, 18, 1);
$jasmine: rgba(253, 222, 123, 1);
$royal-blue-traditional: rgba(16, 44, 104, 1);
$pigment-green: rgba(14, 154, 71, 1);
$celestial-blue: rgba(75, 150, 209, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #065272ff, #1BA373ff, #F8F8F8ff, #D7D7D7ff, #898C8Fff, #F49712ff, #FDDE7Bff, #102C68ff, #0E9A47ff, #4B96D1ff);
$gradient-right: linear-gradient(90deg, #065272ff, #1BA373ff, #F8F8F8ff, #D7D7D7ff, #898C8Fff, #F49712ff, #FDDE7Bff, #102C68ff, #0E9A47ff, #4B96D1ff);
$gradient-bottom: linear-gradient(180deg, #065272ff, #1BA373ff, #F8F8F8ff, #D7D7D7ff, #898C8Fff, #F49712ff, #FDDE7Bff, #102C68ff, #0E9A47ff, #4B96D1ff);
$gradient-left: linear-gradient(270deg, #065272ff, #1BA373ff, #F8F8F8ff, #D7D7D7ff, #898C8Fff, #F49712ff, #FDDE7Bff, #102C68ff, #0E9A47ff, #4B96D1ff);
$gradient-top-right: linear-gradient(45deg, #065272ff, #1BA373ff, #F8F8F8ff, #D7D7D7ff, #898C8Fff, #F49712ff, #FDDE7Bff, #102C68ff, #0E9A47ff, #4B96D1ff);
$gradient-bottom-right: linear-gradient(135deg, #065272ff, #1BA373ff, #F8F8F8ff, #D7D7D7ff, #898C8Fff, #F49712ff, #FDDE7Bff, #102C68ff, #0E9A47ff, #4B96D1ff);
$gradient-top-left: linear-gradient(225deg, #065272ff, #1BA373ff, #F8F8F8ff, #D7D7D7ff, #898C8Fff, #F49712ff, #FDDE7Bff, #102C68ff, #0E9A47ff, #4B96D1ff);
$gradient-bottom-left: linear-gradient(315deg, #065272ff, #1BA373ff, #F8F8F8ff, #D7D7D7ff, #898C8Fff, #F49712ff, #FDDE7Bff, #102C68ff, #0E9A47ff, #4B96D1ff);
$gradient-radial: radial-gradient(#065272ff, #1BA373ff, #F8F8F8ff, #D7D7D7ff, #898C8Fff, #F49712ff, #FDDE7Bff, #102C68ff, #0E9A47ff, #4B96D1ff);